<!DOCTYPE html>
<html lang="html">
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/capsiminbox/stylesheets/build.demo.css' />
  </head>
  <body>
    <div id="app"></div>
    {{{ body }}}
    <script src="/capsiminbox/javascripts/build.demo.js" charset="utf-8"></script>
  </body>
</html>
