.row {
    padding:15px 15px; 
}
.btn-basic {
    color: #fff;
    background-color: #66757E;
}
#capsim-professor-exam-reports span {
    margin-left: 15px !important;
    font-weight: bold !important;
    font-size: 18px !important; 
}