<!DOCTYPE html>
<html lang="html">
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/capsiminbox/admin/stylesheets/build.css' />

  </head>
  <body>
    <div id="app"></div>
    <script id="init-data" type="text/javascript">
        window.data = {{{ data }}}
    </script>
    <script src="/capsiminbox/admin/javascripts/build.js" charset="utf-8"></script>
  </body>
</html>
