// Bootstrap Variable updates
// ===========================
$screen-lg: 1350px;


$font-size-h1:            30px;
$font-size-h2:            24px;
$font-size-h3:            18px;
$font-size-h4:            14px;

$headings-font-weight:    bold;
// ===========================


$ui-color-table-row: #F0F0F0;
$ui-color-background-body: #F0F0F0;

$ui-color-totals: #c3c3c3;
$ui-color-totals-dark: #a9a9a9;


// Sizes
$ui-font-size-lg: 18px;
$ui-font-size-md: 14px;
