<!DOCTYPE html>
<html lang="html">
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/CapsimInbox/stylesheets/build.professor.css' />
  </head>
  <body>
    {{{ body }}}
    <script src="/CapsimInbox/javascripts/build.professor.js" charset="utf-8"></script>
  </body>
</html>
